@import "~bootstrap/scss/bootstrap.scss";

*{
    padding:0;
    margin:0;
    box-sizing:border-box
}

h1{
    font-weight: bolder;
    padding:2rem;
    background-color: lightpink;
}

.cards-treni{
    display: flex;
    flex-wrap: wrap;
    h1{
        font-weight: bold;
    }
    article{
        border: 5px solid black;
        padding:2rem;
        background-color: lightblue;
        width: calc(100%/4 - 1rem);
        margin: .5rem;
    }
}

span{
    font-weight: bolder;
}
